body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	background: url(../static/images/wood-textures.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
 }

form {
	position: auto;
	background: #efefef;
	padding: 20px;
	border: 1rem white;
	opacity: .7;
}

footer {
	position: absolute;
	right: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

div {
	font-family: Arial;
}

.founder {
	display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
}

.founder_img {
  width: 300px;
  height: 400px;
  right: 50px;
  left: 50px;
}

#resultParent {
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto;
	position: auto;
}

.resultCard {
	display: block;
	position: auto;
	background-color: white;
	color: black;
	width: 375px;
	height: 375px;
	text-align: center;
	margin: 0px 20px 20px 40px;
	opacity: .7;
}

.loginCard {
	display: inline-block;
  width: 200px;
}

.greyPlaceholder {
	color: red;
}

